<footer class="pt-5 d-flex flex-column align-items-center mt-auto text-black-50 text-center">
    <p>Created by <a href="https://www.alisonherrera.com/" class="text-black">Ali Herrera</a>, all rights reserved.</p>
  </footer>
</div>

</body>
</html>
