<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dizzy Rehab Hub</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" 
        integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" 
        crossorigin="anonymous"
      /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  
  <!-- Core theme CSS-->
  <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header class="container-fluid">
      <div class="text-center">
        <!-- <h1 class="display-2 text-decoration-none"><a href="/profile">Dizzy Rehab Hub</a></h1>
        <span class="text-gray">The Vestibular Physical Therapist's Exercise Resource</span> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container px-5">
            <a class="navbar-brand" href="/profile">Dizzy Rehab Hub</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/feed">Explore</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">My Exercises</a></li>
                <li class="nav-item"><a class="nav-link" href="/bookmarks">Saved</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Create New</a></li>
              </ul>
            </div>
          </div>
        </nav>
        
      </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>